@charset "UTF-8";

@media screen and (width > 640px){
  body {
    display: grid;
  }

  main {
    width: 640px;
    display: grid;
    grid-template-areas:
    'header section'
    'footer footer'
  }

  #perfumeImage {
    grid-area: header;
  }

  #perfumeImage img {
    /* height: 452px; */
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
  }

  #content {
    grid-area: section;
    padding: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  #content h1,
  #content .featuredPrice {
    font-size: 3.2em;
    padding-block: 18px;
  }

  #content p {
    font-size: 1.5em;
  }

  #content button {
    margin-top: 25px;
  }

  #attribution {
    grid-area: footer;
  }
}